@use '../../../assets/styles/customVariablesConstructor.scss' as variables;

.NumbersDesk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: variables.$calculatorConstructorNumbersDeskHeight;
  gap: variables.$calculatorConstructorNumbersDeskGap;
  padding: variables.$calculatorConstructorNumbersDeskPadding;
  box-shadow: variables.$calculatorConstructorDeskBoxShadow;
  border-radius: variables.$calculatorConstructorDeskBorderRadius;
}

.NumbersDesk_isDragging {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
}

.NumbersDesk_didDrop {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
  pointer-events: none;
}

.ConstructorOperandButton {
  font-size: variables.$calculatorButtonsFontSize;
  line-height: variables.$calculatorButtonsLineHeight;
  border: variables.$calculatorConstructorOperandNumberBorderWidth variables.$calculatorConstructorOperandNumberBorderStyle variables.$calculatorConstructorOperandButtonBorderColor;
  font-weight: variables.$calculatorConstructorOperandButtonFontWeight;
  border-radius: variables.$calculatorConstructorOperandNumberBorderRadius;
}

.BeforeLastOperandButton {
  grid-column: variables.$beforeLastOperandButtonGridColumn;
}