@use '../../../assets/styles/customVariablesConstructor.scss' as variables;

.OperatorsDesk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: variables.$calculatorConstructorOperatorsDeskHeight;
  gap: variables.$calculatorConstructorOperatorsDeskGap;
  padding: variables.$calculatorConstructorOperatorsDeskPadding;
  box-shadow: variables.$calculatorConstructorDeskBoxShadow;
  border-radius: variables.$calculatorConstructorDeskBorderRadius;
}

.OperatorsDesk_isDragging {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
}

.OperatorsDesk_didDrop {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
  pointer-events: none;
}


.ConstructorOperatorButton {
  font-size: variables.$calculatorButtonsFontSize;
  line-height: variables.$calculatorButtonsLineHeight;
  border: variables.$calculatorConstructorOperatorBorderWidth variables.$calculatorConstructorOperatorBorderStyle variables.$calculatorConstructorOperatorBorderColor;
  font-weight: variables.$calculatorConstructorOperatorFontWeight;
  border-radius: variables.$calculatorConstructorOperatorBorderRadius;
}