@use '../../../assets/styles/customVariables.scss' as variables;

.OperatorsDesk {
  padding: variables.$calculatorConstructorOperatorsDeskPadding;
  box-shadow: variables.$calculatorConstructorDeskBoxShadow;
  border-radius: variables.$calculatorConstructorDeskBorderRadius;

}