@use '../../assets/styles/customVariablesConstructor.scss' as variables;
@use '../../assets/styles/customVariablesWorkspace.scss' as workspaceVariables;

.Workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: variables.$workspaceGridAreaName;
  width: variables.$calculatorWorkspaceWidth;
  height: variables.$calculatorWorkspaceHeight;
  background-color: workspaceVariables.$calculatorWorkspaceContainerBackgroundColor;
  border: workspaceVariables.$calculatorWorkspaceContainerBorderWidth dashed workspaceVariables.$calculatorWorkspaceContainerBorderColor;
  border-radius: workspaceVariables.$calculatorWorkspaceContainerBorderRadius;
}

.Workspace_isOver {
  background-color: workspaceVariables.$calculatorWorkspaceContainerBackgroundColor_isOver;
}

.Workspace_hasDropped {
  border: none;
}

.CalculatorConstructor {
  grid-area: variables.$constructorGridAreaName;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: variables.$calculatorConstructorGridRowGap;
  width: variables.$calculatorConstructorWidth;
  height: variables.$calculatorConstructorHeight;
  background-color: variables.$calculatorConstructorDeskBackgroundColor;
}