@use '../../assets/styles/customVariablesConstructor.scss' as variables;

.WaySwitcher {
  grid-area: variables.$waySwitcherGridAreaName;
  justify-self: end;
  width: variables.$calculatorWaySwitcherWidth;
  height: variables.$calculatorWaySwitcherHeight;
  background-color: burlywood;
}