@use '../../../assets/styles/customVariablesWaySwitcher.scss' as variables;

.WaySwitcherButton {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: variables.$calculatorWaySwitcherButtonBorderRadius;
  height: 100%;
}

.WaySwitcherButton_active {
  background-color: variables.$calculatorWaySwitcherActiveButtonBackgroundColor;

  svg path {
    stroke: variables.$calculatorWaySwitcherActiveButtonSVGColor;
  }
}

.WaySwitcherButton_default {
  background-color: variables.$calculatorWaySwitcherDefaultButtonBackgroundColor;


  svg path {
    stroke: variables.$calculatorWaySwitcherDefaultButtonSVGColor;
  }
}

.WaySwitcherButtonText {
  font-size: variables.$calculatorWaySwitcherButtonFontSize;
  line-height: variables.$calculatorWaySwitcherButtonLineHeight;
  color: variables.$calculatorWaySwitcherButtonTextColor;
  font-weight: variables.$calculatorWaySwitcherButtonFontWeight;
}

.WaySwitcherButtonSVGContainer {
  display: flex;
}