@use '../../../assets/styles/customVariablesConstructor.scss' as variables;

.EqualityOperatorDesk {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: variables.$calculatorConstructorEqualityOperatorDeskHeight;
  padding: variables.$calculatorConstructorEqualityOperatorDeskPadding;
  box-shadow: variables.$calculatorConstructorDeskBoxShadow;
  border-radius: variables.$calculatorConstructorDeskBorderRadius;
}

.EqualityOperatorDesk_isDragging {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
}

.EqualityOperatorDesk_didDrop {
  opacity: variables.$calculatorConstructorDeskOpacity_isDragging;
  pointer-events: none;
}

.EqualityOperatorButton {
  background-color: variables.$calculatorConstructorEqualityOperatorBackgroundColor !important;
  color: variables.$calculatorConstructorEqualityOperatorTextColor;
  border-radius: variables.$calculatorConstructorEqualityOperatorBorderRadius;
}