// padding 

$calculatorWaySwitcherContainerPadding: 0.125rem; // 2px

// font-size

$calculatorWaySwitcherButtonFontSize: 1rem; // 16px

// line-height

$calculatorWaySwitcherButtonLineHeight: 0.9375rem; // 15px

// font-weight

$calculatorWaySwitcherButtonFontWeight: 500;

// border-radius

$calculatorWaySwitcherContainerBorderRadius: 0.375rem; // 6px
$calculatorWaySwitcherButtonBorderRadius: 0.3125rem; // 5px

// background-color

$calculatorWaySwitcherContainerBackgroundColor: #F3F4F6;
$calculatorWaySwitcherActiveButtonBackgroundColor: #FFFFFF;
$calculatorWaySwitcherDefaultButtonBackgroundColor: $calculatorWaySwitcherContainerBackgroundColor;

// color

$calculatorWaySwitcherButtonTextColor: #4D5562;

// svg`s color

$calculatorWaySwitcherActiveButtonSVGColor: #5D5FEF;
$calculatorWaySwitcherDefaultButtonSVGColor: $calculatorWaySwitcherButtonTextColor;