// margin

$calculatorWorkspaceSpecialItemMargin: 0 0 0.25rem 0; // 4px
$calculatorWorkspaceImageItemMargin: 0 0 0.75rem 0; // 12px

// max-width

$calculatorWorkspaceCommonItemMaxWidth: 6.875rem; // 110px

// font-size

$calculatorWorkspaceSpecialItemFontSize: 1rem; // 16px
$calculatorWorkspaceCommonItemFontSize: 0.875rem; // 14px

// font-weight

$calculatorWorkspaceSpecialItemFontWeight: 600;

// line-height

$calculatorWorkspaceSpecialItemLineHeight: 1.0625rem; // 17px
$calculatorWorkspaceCommonItemLineHeight: 1rem; // 16px

// border-radius

$calculatorWorkspaceContainerBorderRadius: 0.375rem; // 6px

// border-width

$calculatorWorkspaceContainerBorderWidth: 0.125rem; // 2px

// border-color

$calculatorWorkspaceContainerBorderColor: #C4C4C4;

// background-color

$calculatorWorkspaceContainerBackgroundColor: #FFFFFF;

// color 

$calculatorWorkspaceSpecialItemTextColor: #5D5FEF;
$calculatorWorkspaceCommonItemTextColor: #6B7280;